# Go
bin/
/org
/orglang
*.test
*.out
coverage.html
vendor/

# C / Build Artifacts
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
/out/
/dist/
/build/

# IDEs and OS
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store
.project
.classpath
.settings/
.factorypath
nb-configuration.xml

# OrgLang Test Artifacts
test/integration/**
!test/integration/**/
!test/integration/**/*.org
!test/integration/**/*.golden
test/sanity/**
!test/sanity/**/
!test/sanity/**/*.org
!test/sanity/**/*.golden

# Local environment
.env
